.wrapper__side-bar
  .wrapper__side-bar__user-list
    .wrapper__side-bar__user-list__user-name-space
      dho
      .wrapper__side-bar__user-list__user-name-space__font-list
        =link_to "#", class: "wrapper__side-bar__user-list__user-name-space--group-create" do
          = icon("far", "edit", class: "wrapper__side-bar__user-list__user-name-space__font-list--font-edit") 
        =link_to "#", class: "wrapper__side-bar__user-list__user-name-space--account-edit" do
          = icon("fa", "cog", class: "wrapper__side-bar__user-list__user-name-space__font-list--font-gear")
  .wrapper__side-bar__group-list
    .wrapper__side-bar__group-list__group-block
      .wrapper__side-bar__group-list__group-block__group-name-space
        暇人
      .wrapper__side-bar__group-list__group-block__last-comment
        yahho



